@charset "utf-8";


*{margin: 0; padding: 0; box-sizing: border-box;}

body{
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #121212
  }
  a{
    color: #121212;
    text-decoration: none;
  }
  img{
    vertical-align: top;
    border: none; 
    width: 100%;
  }
  select, input{
    vertical-align: top;
  }
  ul, ol{
    list-style: none;
  }
  
  /* float 처리 될 엄마요소에게clear 라는 클래스를 추가*/
  .clear::after{
    content: ''; display:block; clear: both;
  }
  
  button{border: none;
  background-color: transparent;} 